@import 'tailwindcss';
@import '@heroui/styles';

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@theme {
  --color-dark-grey: #1f1f1f;
  --color-grey: #525963;
  --color-light-grey: #484848;
  --color-price-grey: #575757;
  --color-grey-c: #6f7882;
  --color-grey-obsidian: #0b0d10;

  --color-light-smoke: #f0f4f7;
  --color-smoke: #e6ebf0;
  --color-dark-smoke: #cccccc;

  --color-primary: #4e2fd2;
  --color-secondary: #edf4ff;

  --color-light-green: #1df0bb;
  --color-green: #0aa288;

  --color-blue: #0000ee;

  --color-red: #d8392b;

  --font-gilroy: 'Gilroy', sans-serif;
}

html {
  font-family: var(--font-gilroy);
}
