@import 'tailwindcss';
@import '@heroui/styles';

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@theme {
  --color-slate-950: #0b0d10;
  --color-slate-900: #1f1f1f;
  --color-slate-700: #484848;
  --color-slate-600: #525963;
  --color-slate-550: #575757;
  --color-slate-500: #6f7882;
  --color-slate-450: #a8b2bd;
  --color-slate-400: #cccccc;
  --color-slate-300: #ced6de;
  --color-slate-200: #e6ebf0;
  --color-slate-100: #f1f1f2;
  --color-slate-50: #f0f4f7;

  --color-brand: #4e2fd2;
  --color-brand-subtle: #edf4ff;

  --color-accent-light: #1df0bb;
  --color-accent: #0aa288;

  --color-blue: #0000ee;

  --color-red: #d8392b;

  --font-gilroy: 'Gilroy', sans-serif;

  --breakpoint-xs: 440px;
}

html,
body {
  font-family: var(--font-gilroy);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.scrollbar-minimal {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-400) transparent;
}

.scrollbar-minimal::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-minimal::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-minimal::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-400);
  border-radius: 9999px;
}

.scrollbar-minimal::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
